<template>
  <footer class="footer" style="background-color:transparent;">
    <div class="content has-text-centered">
      <p>
        Made by Jasper Gozum for <strong>Tarlac City</strong>
      </p>
    </div>
  </footer>
</template>
